*
{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: verdana;
	font-size: 1em;
}
button
{
	border-radius: 5px;
	font-size: 0.8em;
	height: 35px;
	width: 90px;
	border: 1px solid #959595;
}
button.redondo
{
	height: 30px;
	width: 30px;
	border: 1px solid #959595;
}
button.blanco
{
	background-color: white;
}
button.rojo
{
	background-color: red;
	color: white;
}
button.verde
{
	background-color: green;
	color: white
}
label
{
	font-size: 0.9em;
	text-align: left;
	display: inline-block;
}
input[type="text"], select
{
	font-size: 0.9em;
	height: 30px;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 0px 5px 0px 5px;
}
.pantalla
{
	width: 1366px;
	height: 668px;
}
.pantalla .banner
{
	height: 100px;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px 0px 20px;
}
.pantalla .logo
{
	background-image: url(../_img/logo.png);
	width: 540px;
	height: 84px;
}
.pantalla .banner .usuario p
{
	font-size: 0.95em;
}
.pantalla .banner .usuario p:first-child
{
	font-weight: 700;
}
.pantalla .menu
{
	height: 35px;
	background-color: #005685;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	padding: 0px 10px 0px 5px;
}
.pantalla #divMenu, .pantalla #divOpciones
{
	cursor: pointer;
}
.pantalla .menu .titulo
{
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
nav.desplegable
{
	width: 250px;
	background-color: rgba(0, 129, 196, 0.6);
	position: absolute;
	left: -250px;
	color: white;
	transition: left 0.5s;
	height: 533px;
}
aside.desplegable
{
	overflow: hidden;
	height: 0px;
	width: 180px;
	position: absolute;
	color: white;
	transition: height 0.5s;
	padding: 0px 10px 0px 10px;
	top: 135px;
	right: 0px;
}
#accordion li.item
{
	line-height: 30px;
	padding: 0px 10px 0px 10px;
	background-color: rgba(0, 129, 196, 0.9);
	border-bottom: 1px solid white;
	cursor: pointer;
}
#accordion ul li.subItem
{
	line-height: 30px;
	padding: 0px 10px 0px 10px;
	border-bottom: 1px solid white;
	cursor: pointer;
}
#accordion ul li.subItem:hover
{
	background-color: rgba(0, 129, 196, 0.7);
}
.contenido
{
	background-color: #DEDCD4;
	height: 533px;
}
#divContenido
{
	padding: 10px;
}
#tabData
{
	margin: 0px;
	padding: 0px;
	background-color: white;
	font-size: 0.8em;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
}
#tabData tr
{
	height: 30px;
}
#tabData tr.encabezado
{
	background-color: #cccccc;
}
#tabData tr td
{
	padding: 0px 5px 0px 5px;
}
#tabData tr.encabezado td
{
	text-align: center;
}
#tabData tr.item:nth-child(odd)
{
	background-color: #ededed;
}
#tabData tr.item:hover
{
	background-color: #000000;
	color: white;
}
#tabData tr td
{
	border: 1px solid #C0C0C0;
}
.divPanel
{
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	background-color: #CCCCCC;
	border-radius: 3px;
	border: 2px solid silver;
}
.divSubPanel
{
	display: inline-block;
	vertical-align: top;
}
.divListCheck
{
	border: 1px solid silver;
	width: 150px;
	height: 326px;
	overflow-y: scroll;
	background-color: white;
}
.ulListCheck
{

}
.ulListCheck li
{
	padding: 10px;
	text-align: left;
	list-style: none;
	font-size : 0.8em;
}
.ulListCheck li:nth-child(odd)
{
	background-color: #ededed;
}
